<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Amazona</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">amazona</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>

    <main class="main">
      <ul>
        <li>
          product 1
        </li>
        <li>
          product 2
        </li>
        <li>
          product 3
        </li>
        <li>
          product 4
        </li>

    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
</body>

</html>