<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  <title>Amazona</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <a href="index.html">amazona</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <main class="main">
      <div class="content">
        <ul class="products">
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img class="product-image" src="images/d1.jpg" alt="product" />
              <div class="product-name">
                <a href="product.html">Slim Shirt</a>
              </div>
              <div class="product-brand">Nike</div>
              <div class="product-price">$60</div>
              <div class="product-rating">4.5 Stars (10 Reviews)</div>
            </div>
          </li>

        </ul>
      </div>

    </main>
    <footer class="footer">
      All right reserved.
    </footer>
  </div>
</body>

</html>