html{
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body{
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.brand a{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:#ffffff;
  text-decoration: none;
  padding: 1rem;

}
.header-links a:hover{
  color:#ff8000;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
a{
  text-decoration: none;
}
a:hover{
  color:#ff8000
}
/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}
.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-name{
  font-size: 2rem;
  font-weight: bold;
}
.product-brand{
  font-size: 1.2rem;
  color:#808080;
}
.product-price{
  font-size: 2rem;
  font-weight: bold;
}
.product-image{
  max-width: 34rem;
  max-height: 34rem;
}
.product-rating{
  margin-bottom: 1rem;
}
/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color:#ffffff;
  cursor: pointer;
}
.sidebar{
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100%;
}
.sidebar.open{
  transform: translateX(0);
}

.sidebar-close-button{
  border-radius: 50%;
  border: .1rem #000000 solid;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  font-size: 2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: .5rem;
  top: 1.5rem
}

/* Product Details */
.details{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}
.details-image {
  flex: 2 1 60rem;
}
.details-image img{
  max-width: 60rem;
  widows: 100%;
}
.details-info {
  flex: 1 1 30rem;
}
.details-action {
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul{
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li{
  margin-bottom: 1rem;
}
.back-to-result {
  padding: 1rem;
}
.details-action{
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}
.details-action ul li:last-child{
  display: flex;
  flex-direction: column;
}
.button{
  padding: 1rem;
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button:hover{

  border: .1rem #404040 solid;
}
.button.primary{
  background-color: #f0c040;
}